* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1a1a2e;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

#__nuxt {
  width: 100%;
  height: 100%;
}
